@import "tailwindcss";

:root {
  --background: #1b1a1b;
  --foreground: #ffffff;
  --accent: #fbd203;
  --border-color: #fbd203;
}

html {
  background-color: var(--background);
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: "Open Sans", Arial, Helvetica, sans-serif;
}

.border-default {
  border-color: var(--border-color) !important;
}